*{
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #1c1c25;
    overflow: hidden;
}
section::before{
    content: '';
    position: absolute;
    bottom: -40%;
    right:70px;
    width: 600px;
    height: 600px;
    background: linear-gradient(#f00,#f0f);
    border-radius: 50%;
}
.toggle{
    background: url(../image/our-goal-2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    position: absolute;
    top:50px;
    right:100px;
}
.toggle.active{
    background: url(../image/eye.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
section .sci{
    position: absolute;
    top: 100px;
    right:150px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0s;
}
.banner.active .sci{
    visibility:visible;
    opacity:0.7;
    transition-delay: 1s;
}
section .sci li{
 list-style: none;
}
section .sci li a{
    text-decoration: none;
    color:#fff;
    line-height:1.5em;
    font-size: 1.7em;
    -webkit-box-reflect:below 1px linear-gradient(transparent,#0008);
    animation: text 0.5s linear infinite;
}
@keyframes text{
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%
    {
        color:#0e3742;
        text-shadow: none;
    }
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%
    {
        color:#fff;
        text-shadow: 0 0 10px #03bcf4, 0 0 20px #03bcf4,0 0 40px #03bcf4,0 0 60px #03bcf4,0 0 80px #03bcf4

    }
}
.card{
    position: relative;
    width:508px;
    height: 314px;
    transform-style: preserve-3d;
    perspective: 500px;
}
.card .face{
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    height: 100%;
    box-shadow: 0 15px 35px rgba(0,0,0,0.5);
    border-radius:15px;
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(10px);
    transform-style: preserve-3d;
    transition: 1s;
    backface-visibility: hidden;
}
.card:hover .face.front{
    transform: rotateY(180deg);
}
.card .face.back{
    transform: rotateY(180deg);
}
.card:hover .face.back{
    transform: rotateY(360deg);
}
.card .face.front::before{
   content: '';
   position: absolute;
   bottom: 40px;
   right: 40px;
   width:60px;
   height: 60px;
   background: #fff;
   border-radius: 50%;
   opacity: 0.3;
}
.card .face.front::after{
    content: '';
    position: absolute;
    bottom: 40px;
    right: 80px;
    width:60px;
    height: 60px;
    background: #fff;
    border-radius: 50%;
    opacity:0.7;
 }
 .card .face.front .debit{
     position: absolute;
     left: 40px;
     top: 30px;
     color:#fff;
     font-weight: 500;
 }
 .card .face.front .bank{
     position: absolute;
     right: 40px;
     top: 25px;
     color:#fff;
     font-weight: 500;
     font-style: italic;
     font-size: 24px;
 }
 .card .face.front .sim{
     position: absolute;
     top: 80px;
     left: 50px;
     max-width: 64px;
 }
 .card .face.front .number{
     position: absolute;
     bottom: 130px;
     left: 40px;
     color:#fff;
     font-weight: 500;
     letter-spacing: 6px;
     font-size: 18px;
     text-shadow: 0 2px 1px #0005;
     font-family: monospace;
 }
 .card .face.front .valid{
     position: absolute;
     bottom: 90px;
     left: 40px;
     display: flex;
     align-items: center;
     justify-content: center;
     color:#fff;
     font-weight: 300px;
     line-height: 1em;
     text-align: right;
 }
 .card .face.front .valid span:last-child{
     margin-left: 20px;
     font-size: 16px;
     font-weight: 400;
     letter-spacing: 2px;
 }
 .card .face.front .holder{
     position: absolute;
     bottom: 40px;
     left: 40px;
     color:#fff;
     font-weight: 300;
     font-size: 16px;
     letter-spacing: 2px;
 }
 .card .face.back .black{
     position: absolute;
     top: 40px;
     width: 100%;
     height: 60px;
     background: #000;
 }
 .card .face.back .contenttext{
     position: absolute;
     top: 120px;
     left: 30px;
 }
 .card .face.back .contenttext h5{
     color:#fff;
     font-weight: 400;
     font-size: 12px;
     text-transform: uppercase;
     letter-spacing: 2px;
 }
 .card .face.back .contenttext .whitebar{
     position: relative;
     width:400px;
     height: 40px;
     background: #fff;
     margin-top: 5px;
} 
.card .face.back .contenttext .ccv{
    position: relative;
    background: #ccc;
    color:#111;
    width: 50px;
    height: 30px;
    font-weight: 600;
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -35px;
    left: 395px;
}
.card .face.back .text{
    position: absolute;
    bottom: 30px;
    left: 30px;
    right: 30px;
    color:#fff;
    font-size:0.95em;
    line-height: 1.4em;
    font-weight: 300;
}


@media(max-width:400px){
    .card .face.back .contenttext h5{
        font-size: 10px;
        letter-spacing: 1px;
    }
    .card .face.back .contenttext .whitebar{
        width:280px;
   } 
   .card .face.back .contenttext .ccv{
    left: 270px;
    }
    .card .face.back .text{
        position: absolute;
        bottom: 50px;
        left: 30px;
        right: 30px;
        color:#fff;
        font-size:0.75em;
    }

    section .sci{
        top: 90px;
        right:10px;
        z-index: 1;
    }
    .toggle{
        top:50px;
        right:20px;
    }
}