*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0 100px;
    display: flex;
    align-items: center;
    background: linear-gradient(#404040,#151415);
}
.container::before{
    content: '';
    position: absolute;
    top: 0;
    left:300px;
    width:400px;
    height: 320px;
    background: #fa215e;
    z-index: 1;
    transition: 1s;
}
.container.active::before{
    top:0;
    left:0;
    width:50%;
    height: 100%;
    background: #151415;
}
.container::after{
    content: '';
    position: absolute;
    bottom: 0;
    right:100px;
    width:400px;
    height: 200px;
    background: #aeff0f;
    z-index: 1;
    transition: 1s;
}
.container.active::after{
    bottom:0;
    right:0;
    width:50%;
    height: 100%;
    background: #151415;
}
header{
    position: fixed;
    top: 0;
    left:0;
    width:100%;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
}
header .logo{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    color:#fff;
    font-weight: 700;
    text-decoration: none;
    transition: 0.5s;
    transform-origin: right;
    -webkit-box-reflect:below 1px linear-gradient(transparent,#0008);
    animation: text 0.5s linear infinite;
}
@keyframes text{
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%
    {
        color:#0e3742;
        text-shadow: none;
    }
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%
    {
        color:#fff;
        text-shadow: 0 0 10px #03bcf4, 0 0 20px #03bcf4,0 0 40px #03bcf4,0 0 60px #03bcf4,0 0 80px #03bcf4

    }
}
.container.active .logo{
    transform: scale(0);
    transform-origin: left;
}
.toggle{
    position: relative;
    width:30px;
    height: 30px;
    background: url(../image/our-goal-2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    cursor: pointer;
}
.toggle.active{
    background: url(../image/eye.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:25px;
}
.content{
    position: relative;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.5s;
    transform-origin: right;
    z-index:2;
}
.container.active .content{
    transform: scale(0);
    transform-origin: left;
}
.content .contentbox{
    max-width: 600px;
}
.content .contentbox h2{
    font-size: 3em;
    line-height: 1.2em;
    color:#fff;
    text-transform: uppercase;
}
.content .contentbox p{
    font-size: 1em;
    line-height: 1.2em;
    color:#fff;
    margin: 20px 0;
}
.content .contentbox a{
    text-decoration: none;
    display: inline-block;
    border:1px solid #fff;
    color:#fff;
    padding:10px 30px;
    text-transform: uppercase;
    transition: 0.5s;
}
.content .contentbox a:hover{
    letter-spacing: 4px;
    background: #fff;
    color:#111;
    border-radius:20px;
}
.content .imgbox img{
 max-width: 100%;
 min-width: 400px;
}
.ni{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 20px;
    transition: 0.5s;
    z-index: 2;
    transform-origin: right;
}
.container.active .ni{
    transform: scale(0);
    transform-origin: left;
}
.ni li{
    list-style: none;
}
.ni li a{
    text-decoration: none;
    display: inline-block;
    filter: invert(1);
    transform: scale(0.4);
}
.ni li a img{
    border-radius:50%;
}
.ni li a:hover{
    transform: translateY(-25px);
    filter: invert(0);
}
.menu{
    position: fixed;
    top:0;
    left: 0;
    width:100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0s;
}
.container.active .menu{
    visibility:visible;
    opacity:1;
    transition-delay: 1s;
}
.menu li{
    list-style: none;
}
.menu li a{
    text-decoration: none;
    color:#fff;
    font-size: 2em;
    line-height: 2em;
}

@media (max-width:700px){
 header{
     padding:20px 40px;
 }
 .container{
     padding:40px;
     overflow: hidden;
 }
 .container::before{
   top:100px;
   left:0;
   width:170px;
   height: 310px;
 }
 .container::after{
    bottom:0px;
    right:0;
    width:80px;
    height:60px;
  }
  .content{
      flex-direction: column-reverse;
      margin:50px 0;
  }
  .content .contentbox{
      max-width: 100%;
  }
  .content .imgbox img{
      max-width: 100%;
      min-width: 300px;
  }
  .content .contentbox h2{
      font-size: 2em;
  }
}

@media(max-width:400px){
    header{
        padding:20px 40px;
    }
    .container{
        padding:40px;
        overflow: hidden;
    }
    .container::before{
      top:100px;
      left:0;
      width:170px;
      height: 310px;
    }
    .container::after{
       bottom:0px;
       right:0;
       width:80px;
       height:60px;
     }
     .content{
         flex-direction: column-reverse;
         margin:50px 0;
     }
     .content .contentbox{
         max-width: 100%;
     }
     .content .imgbox img{
         max-width: 100%;
         min-width: 300px;
     }
     .content .contentbox h2{
         font-size: 2em;
     }
}