
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: #111;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    z-index: 10;
}
header .logo{
    font-size: 2em;
    color:#000;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 2px;
    -webkit-box-reflect:below 1px linear-gradient(transparent,#0008);
    animation: text 0.5s linear infinite;
}
@keyframes text{
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%
    {
        color:#0e3742;
        text-shadow: none;
    }
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%
    {
        color:#fff;
        text-shadow: 0 0 10px #03bcf4, 0 0 20px #03bcf4,0 0 40px #03bcf4,0 0 60px #03bcf4,0 0 80px #03bcf4

    }
}
header .toggle{
    position: relative;
    width: 30px;
    height: 30px;
    background: url(../image/our-goal-2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}
.slider{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: #000;
}

.slider .imgbox{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    transition-delay: 0s;
    z-index: 1;
    clip-path: circle(0px at center);
}
.slider input[type="radio"]:checked + .imgbox{
    clip-path: circle(1000px at center);
    transition-delay: 0.75s;
    z-index: 10px;
}
.slider .imgbox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider .imgbox .content{
    position: relative;
    width: 600px;
    text-align: center;
}
.slider .imgbox .content h2{
    font-size: 6em;
    line-height:1em;
    color:#000;
}
.slider .imgbox .content p{
    font-size: 1.5em;
    line-height: 1.7em;
    color:#000;
}
.slider .imgbox .content a{
    text-decoration: none;
    color:#000;
    padding:10px 30px;
    transition: 0.5s;
    background: #fff;
    display: inline-block;
    position: relative;
    font-weight: 700;
    margin-top: 20px;
}
.slider .imgbox .content a:hover{
    background: #00ffff;
    border-radius:5px;
}
input[type="radio"]{
    position: relative;
    margin-bottom: 50px;
    z-index: 100;
    margin-right:8px;
    cursor: pointer;
    outline: none;
}
.menu{
    position: absolute;;
    top:80px;
    right:100px;
    z-index: 1000;
    opacity: 0;
    visibility:hidden;
    transition-delay: 0s;
    transition: 0.5s;
}
.menu li{
    list-style: none;
}
.menu li a{
    text-decoration: none;
    color:#000;
    line-height:2em;
    font-size: 1.3em;
    text-shadow: 0px 0px 5px #03bcf4;
}
.toggle.active{
    background: url(../image/eye.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}
.slider.active .menu{
    opacity: 1;
    visibility: visible;
    transition-delay: 1s;
}

@media(max-width:400px){
    header{
        padding: 20px 40px;
    }
    .slider .imgbox{
        padding: 40px;
    }
    .slider .imgbox .content h2{
        font-size: 3em;
    }
    .slider .imgbox .content p{
        font-size: 1em;
        margin-top: 10px;
    }
    .menu{
        right:10px;
    }
}